<!DOCTYPE html>
<html>

<head>
  <title>Online Voting System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>

<body class="font-[gilroy]">
  <div id="main">
    <div id="page1">
      <div id="nav" class="h-[10vh] flex items-center p-5 justify-between">
        <h1 class="text-2xl font-[monument]">Online Voting System</h1>
        <div id="rightnav" class="flex items-center justify-between gap-10">
          <ul class="flex items-center justify-center gap-10">
            <li class="text-lg font-semibold"><a href="/home">Home</a></li>
            <li class="text-lg font-semibold"><a href="/about">How to Vote</a></li>
            <li class="text-lg font-semibold"><a href="/vote">Vote</a></li>
            <li class="text-lg font-semibold"><a href="/create">Create</a></li>
            <li class="text-lg font-semibold"><a href="/results">Results</a></li>
          </ul>
          <div class="h-[50px] w-[50px] bg-red-500 flex items-center justify-center rounded-full font-semibold">
          </div>
        </div>
      </div>
      <div id="heropage" class="h-[90vh] w-full bg-zinc-100">
        <div id="text" class="flex items-center justify-center min-h-[80vh] text-5xl font-bold">
          <h1>Welcome to  India's first <br> Online Voting  Platform [O V M]</h1>
        </div>       
        <img src="" alt="">
      </div>
    </div>
    <div id="page2" class="mb-4">
      <div id="img-scroll" class="w-full h-[20vh]">
        <img src="https://th.bing.com/th/id/OIP.Kf5Yx5tXF2o5A7RT1dpqRAHaHK?w=167&h=180&c=7&r=0&o=5&pid=1.7" alt="" />
        <img src="https://seeklogo.com/images/G/government-of-telangana-logo-4949BC8A09-seeklogo.com.png" alt="" />
        <img src="/upcoming/search/internationalnewsandviews.com/wp-content/uploads/2019/07/Punjab-Government-Logo.jpg"
          alt="" />
        <img src="https://egov.eletsonline.com/wp-content/uploads/2014/08/Andhra-Pradesh-Government-Logo.jpg" alt="" />
        <img src="https://jobrefresher.com/uploads/images/8ffca39477626ccf.png" alt="" />
        <img src="https://pngimagesfree.com/wp-content/uploads/Karnataka-Govt-Logo-PNG.png" alt="" />
        <img src="https://i.pinimg.com/564x/a2/56/04/a256049380b2018f3bd029451f46752d.jpg" alt="" />
        <img src="https://th.bing.com/th/id/OIP.3vKb1eAzv6RswTz22rFt1QHaHV?pid=ImgDet&w=192&h=190&c=7" alt="" />
        <img src="https://th.bing.com/th/id/OIP.gNsSmAISV1dnP3RrKtorpQHaHa?w=164&h=180&c=7&r=0&o=5&pid=1.7" alt="" />
        <img src="https://th.bing.com/th/id/OIP.xyN4YaqTaP1TerbvjKHbJgHaFM?w=252&h=180&c=7&r=0&o=5&pid=1.7" alt="" />
      </div>
      <div id="scroll" class="h-[50vh] w-full flex items-center justify-around ">

        <img class="govtImg"
          src="https://seeklogo.com/images/G/government-of-telangana-logo-4949BC8A09-seeklogo.com.png" alt="" />
        <h1 class="w-[40vw] text-3xl font-semibold h-[50vh] overflow-auto">
          "Did you know that online voting has the potential to revolutionize the democratic process? By enabling more
          people to participate in elections from the comfort of their homes, we could see a significant increase in
          voter turnout and engagement. This could lead to more representative and inclusive governance, making
          democracy more accessible to everyone."
        </h1>
      </div>
    </div>
    <div id="page3" class="flex items-center flex-col justify-center bg-stone-100">
      <h1 class="text-3xl font-semibold text-center ">Select the state where You want to Vote </h1>
      <!-- The Map coordinates are coming from the JavaScript File -->
    </div>
    <footer class="footer footer-center p-4 bg-base-300 text-base-content bg-black text-white text-center">
      <aside>
        <p>Copyright © 2024 - All right reserved by Sathya and Suraj</p>
      </aside>
    </footer>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
  <script src="../javascripts/script.js"></script>
</body>

</html>