<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex items-center justify-center min-h-screen font-[gilroy]">
    <div class="flex items-center flex-col justify-center bg-red-200 p-5">
      <div class="selectthestate flex flex-col">
        <label for="select" class="text-3xl font-bold">Enter the State</label>
        <button type="button">submit </button>
        <input
          type="text"
          class="rounded-lg p-3 outline-blue-300 w-96"
          name=""
          id="select"
        />
      </div>
      <div id="links" class="links">
        <h1 class="text-4xl mt-10 font-semibold">
          Upcoming and Running Elections:
        </h1>
        <div id="link" class="flex items-start mt-4 justify-center flex-col">
            <a class="text-blue-500 text-lg " href="/upcoming/indian-Parilament">Indian Parliament </a>
            <a class="text-blue-500 text-lg " href="/upcoming/Andhra-pradesh">Andhra Pradesh </a>
            <a class="text-blue-500 text-lg " href="/upcoming/Arunachal-pradesh">Arunachal Pradesh </a>
            <a class="text-blue-500 text-lg " href="/upcoming/Odisha">Odisha </a>
            <a class="text-blue-500 text-lg " href="/upcoming/Sikkim">Sikkim </a>
            <a class="text-blue-500 text-lg " href="/upcoming/Haryana">Haryana</a>
    
        </div>
      </div>
    </div>
    <script>
      let btn = document.getElementById("button");
      btn.addEventListener('click', (e) => {
        e.preventDefault();
        let state = (document.getElementById("select")).value;
        console.log(state);
        const searchUrl = `/upcoming/search/${state}`;
        window.location.href = searchUrl;
      })
  
    </script>
  </body>
</html>