<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .thankyou-wrapper {
        width: 80%;
        max-width: 600px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .thankyou-wrapper h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        color: #333333;
        margin-bottom: 10px;
      }

      .thankyou-wrapper p {
        font-size: 1.2rem;
        color: #333333;
        margin-bottom: 20px;
      }

      .thankyou-wrapper a {
        font-size: 1.2rem;
        color: #ffffff;
        text-decoration: none;
        background: #E47425;
        padding: 15px 30px;
        border-radius: 5px;
        transition: background 0.3s ease;
      }

      .thankyou-wrapper a:hover {
        background: #F96700;
      }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    
</head>
<body>
  <div class="thankyou-wrapper">
    <h1 class="font-bold ">Thank You</h1>
    <p class="mb-10">Thank You for voting Results will be announced soon...</p>
    <a href="/home">Back to Home</a>
  </div>
</body>
</html>
